.brand-img {
    height: 1.6rem;
}


/* h1, h2, h3, h4 { */
/* } */

/* h1, h2, h3, h4, p { */
    /* margin-bottom: 1.5rem !important; */
/* } */

/* p, em, li, button { */
/* } */
body {
    padding-bottom: 60px;
    background-color: #1a1a1a;
    color: #EFFFE9;
    font-family: 'Open Sans', sans-serif; 
}
html {
    scroll-behavior: smooth
}
section {
    padding-top: 40px;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: 200;
}

.nav-link {
    font-size: 0.9rem;
}

.bg-dark {
    background-color: #212529 !important;
}
.nav-link.active {
    background-image: linear-gradient(#212529, #414951);
}

p, button, .btn, li {
    font-size: 0.95em;
}
small {
    font-size: smaller;
}

.button-icon {
    height: 20px;
    margin-top: -4px;
}

.list-col-2 {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    list-style: none;
}

.list-col-2 a {
    color: #1565c0;
}

.carousel-item img {
    margin: 0 auto;
    height: 100%;
}

.carousel-control-next-icon:after {
    font-family: sans-serif;
    content: '>';
    font-size: 1.5rem;
    color: gray;
}

.carousel-control-prev-icon:after {
    font-family: serif;
    content: '<';
    font-size: 1.5rem;
    color: gray;
}

div.github-button {
    float: right;
    margin: 1rem;
}

p.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}
p.authors, p.venue, p.award {
    font-size: 1.0em;
    /* font-weight: bold; */
    margin-bottom: 0;
}
p.authors {
    color: #EFFFE9;
}
p.authors a {
    color: #EFFFE9;
}
p.venue {
    color: #fcbe32;
}
p.award {
    color: #ff5f2e;
}
a.p_button {
    color: #2b90d9;
    text-decoration: underline;
    font-family: "Roboto Mono", monospace;
}
div.pub_item {
    margin-top: 35px;
}
.bio-photo{
    margin-top: 38px;
    max-width: 100%;
}
.article-author-side {
    color: #b7b7b7 !important;
    font-weight: 300;
}
.article-author-side a {
    color: #2b90d9;
    font-family: "Roboto Mono", monospace;
    text-decoration: underline;
    margin-bottom: 15px;
}
.article-author-side i {
    text-decoration: none;
}
pre {
    overflow: auto;
    white-space: pre;
}
hr {
    border-color: #b7b7b7;
    margin-bottom: 0;
}
h3 {
    color: #EFFFE9;
    font-weight: bold;
}
.row {
    margin-right: 0px;
}