@font-face {
    font-family: Irvin-Heading;
    src: url(fonts/Irvin-Heading.ttf);
}
@font-face {
    font-family: Caslon-Pro;
    src: url(fonts/Caslon-Pro.ttf);
}
body {
    padding-bottom: 60px;
    color: #000;
    font-family: Caslon-Pro, 'Courier New', monospace; 
    line-height: 1.5;
}

p, button, .btn, li {
    font-size: 0.95em;
}

.title {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Irvin-Heading, 'Courier New', monospace;
}
.authors, .venue, .award {
    font-size: 1.2em;
    font-family: Caslon-Pro, 'Courier New', monospace; 
    margin-top: 0;
    margin-bottom: 0;
}
p.authors {
    font-size: 1.1em;
    color: #000;
}
p.authors a {
    color: #000;
}
p.venue {
    color: #35a952;
}
p.award {
    color: #e94434;
}
.p_button {
    color: #4285f4;
    text-decoration: underline;
    font-family: Caslon-Pro, 'Courier New', monospace; 
}
div.pub_item {
    margin-top: 35px;
}
.bio-photo{
    border-radius: 50%;
    margin-top: 35px;
    max-width: 100%;
}
.article-author-side {
    text-align: center;
    font-weight: 300;
}
pre {
    white-space: pre-wrap;
}
h3 {
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 0.3rem;
    font-family: Irvin-Heading, 'Courier New', monospace;
}

.google-logo {
    max-width: 100%;
    width: 200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1440px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
.navigation-menu {
    grid-column: span 4;
    padding: 0.5rem;
    max-width: 300px;
    margin-right:auto;
    margin-left:auto;
}
.main-content {
    grid-column: span 6;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 480px) {
    .navigation-menu {
        text-align: center;
        grid-column: span 12;
    }
    .main-content {
        text-align: center;
        grid-column: span 12;
    }
}