@font-face {
    font-family: SF-Pro-Light;
    src: url(fonts/SF-Pro-Light.otf);
}
@font-face {
    font-family: SF-Pro-Regular;
    src: url(fonts/SF-Pro-Regular.otf);
}
body {
    padding-bottom: 60px;
    background-color: #fbfbfd;
    color: #1d1d1f;
    font-family: "SF-Pro-Regular", 'Courier New', monospace; 
    line-height: 1.5;
}

p, button, .btn, li {
    font-size: 0.95em;
}

.title {
    font-size: 1.5em;
    /* font-weight: bold; */
    margin-top: 0;
    margin-bottom: 0;
}
.authors, .venue, .award {
    font-size: 1.2em;
    font-family: "SF-Pro-Light", 'Courier New', monospace; 
    margin-top: 0;
    margin-bottom: 0;
}
p.authors {
    color: #1d1d1f;
}
p.authors a {
    color: #1d1d1f;
}
p.venue {
    color: #eca500;
}
p.award {
    color: #dd3400;
}
.p_button {
    color: #06c;
    text-decoration: underline;
    font-family: "SF-Pro-Light", 'Courier New', monospace; 
}
div.pub_item {
    margin-top: 35px;
}
.bio-photo{
    border-radius: 50%;
    margin-top: 35px;
    max-width: 100%;
}
.article-author-side {
    text-align: center;
    font-weight: 300;
}
pre {
    white-space: pre-wrap;
}
h3 {
    font-size: 2.3rem;
    margin: 0;
    margin-bottom: 0.3rem;
}
.duke-logo {
    max-width: 100%;
    width: 200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1440px;
    margin-right:auto;
    margin-left:auto;
}
.navigation-menu {
    grid-column: span 4;
    padding: 0.5rem;
    max-width: 300px;
    margin-right:auto;
    margin-left:auto;
}
.main-content {
    grid-column: span 8;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 480px) {
    .navigation-menu {
        text-align: center;
        grid-column: span 12;
    }
    .main-content {
        grid-column: span 12;
    }
}