@font-face {
    font-family: Irvin-Heading;
    src: url(fonts/Irvin-Heading.ttf);
}

@font-face {
    font-family: Caslon-Pro;
    src: url(fonts/Caslon-Pro.ttf);
}

body {
    padding-bottom: 60px;
    color: #000;
    font-family: Caslon-Pro, 'Courier New', monospace;
    line-height: 1.5;
}

.title {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
}

.authors,
.venue,
.award {
    font-size: 1.0em;
    font-family: Caslon-Pro, 'Courier New', monospace;
    margin-top: 0;
    margin-bottom: 0;
}

p.authors {
    color: #000;
}

p.authors a {
    color: #000;
}

p.venue {
    color: #35a952;
}

p.award {
    color: #e94434;
}

a {
    color: #4285f4;
}

.p_button {
    color: #4285f4;
    text-decoration: underline;
    font-family: Caslon-Pro, 'Courier New', monospace;
}

div.pub_item {
    margin-bottom: 30px;
}

.bio-photo {
    margin-top: 35px;
    margin-bottom: 15px;
    object-fit: cover;
    width: 225px;
    height: 250px;
    border-radius: 10px;
}

.article-author-side {
    text-align: center;
    font-weight: 300;
}

h3 {
    font-size: 1.7rem;
    font-weight: 100;
    margin: 0;
    margin-bottom: 0.2rem;
}

.google-logo {
    max-width: 45%;
    width: 120px;
    margin-bottom: 20px;
}

.columbia-logo {
    max-width: 30%;
    width: 80px;
}

.container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-areas: ". . sd . main main main main main main main main . . .";
    max-width: 1440px;
}

.navigation-menu {
    grid-area: sd;
    padding: 0.5rem;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    grid-area: main;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
}

.bibtex {
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(240, 244, 255);
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: "sd sd main main main main main";
    }
}

@media screen and (max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "sd"
            "main";
    }
}