 body {
    padding-bottom: 60px;
    background-color: #1a1a1a;
    color: #EFFFE9;
    font-family: 'Courier New', monospace; 
    line-height: 1.5;
}

p, button, .btn, li {
    font-size: 0.95em;
}

p.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
p.authors, p.venue, p.award {
    font-size: 1.0em;
    margin-top: 0;
    margin-bottom: 0;
}
p.authors {
    color: #EFFFE9;
}
p.authors a {
    color: #EFFFE9;
}
p.venue {
    color: #fcbe32;
}
p.award {
    color: #ff5f2e;
}
a.p_button {
    color: #2b90d9;
    text-decoration: underline;
    font-family: "Roboto Mono", monospace;
}
div.pub_item {
    margin-top: 35px;
}
.bio-photo{
    border-radius: 50%;
    margin-top: 35px;
    max-width: 100%;
}
.article-author-side {
    text-align: center;
    font-weight: 300;
}
.article-author-side a {
    color: #2b90d9;
    text-decoration: underline;
    margin-bottom: 15px;
}
pre {
    white-space: pre-wrap;
}
h3 {
    font-size: 1.75rem;
    margin: 0;
    margin-bottom: 0.3rem;
}
.duke-logo {
    max-width: 100%;
    width: 200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1140px;
    margin-right:auto;
    margin-left:auto;
}
.navigation-menu {
    grid-column: span 4;
    padding: 0.5rem;
    max-width: 300px;
    margin-right:auto;
    margin-left:auto;
}
.main-content {
    grid-column: span 8;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 480px) {
    .navigation-menu {
        text-align: center;
        grid-column: span 12;
    }
    .main-content {
        grid-column: span 12;
    }
}